@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.stories-feed {
    width: 100%;
    @include flex(column, center, center);
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 1rem;
    transition: 0.3s ease;

    .story-info {
        width: 100%;
        @include flex(row, flex-start, center);
        gap: 1rem;
        position: relative;
        margin-top: 1rem;

        img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        a {
            color: var(--clr-text);
            font-size: 1.2rem;
            margin-bottom: 0.5rem;

            &:hover {
                text-decoration: underline;
            }

            &:active {
                color: var(--clr-accent);
            }
        }

        small {
            position: absolute;
            bottom: 0;
            left: 66px;
        }
    }

    .cover-title {
        @include flex(column, center, start);
        gap: 1rem;

        h4 {
            a {
                color: purple;
                font-size: 1.1rem;
                padding: 0.5rem;

                &:hover {
                    text-decoration: underline;
                }

                &:active {
                    color: var(--clr-accent);
                }
            }
        }
    }

}

@include media-query(rem(501px)) {
    .stories-feed {
        width: 100%;
        margin-top: 60px;
        margin-left: 60px;
        grid-column: 1 / -1;
        align-items: flex-start;
    }
}

@include media-query(rem(768.98px)) {
    .stories-feed {
        margin-left: 0;
        grid-column: 2 / -1;
    }
}